{%extends "partials/template.html"%}
{% block background_image %}
    <!-- Nenhuma imagem de fundo aqui -->
{% endblock %}
{%block content%}
    <h1 class="date">{{agenda[0]['day']}}</h1>
    <div class="filter">
        <form action="{{ url_for('calendario_filtrado') }}" method="post">
            <label class="filter-text" for="options">Escolha uma opção:</label>
            <select name="selecao_esporte" id="options">
                <option value="" disabled selected>Selecione um esporte</option>
                {% for sport in disciplines %}
                    <option value="{{ sport['id'] }}">{{ translations.get(sport['name']) }}</option>  
                {% endfor %}
            </select>
            <button type="submit">Enviar</button>
        </form>

        {% if show_previous %}
        <a href="{{ url_for('calendário', day=day_minus_one) }}">
            <button>Anterior</button>
        </a>
        {% endif %}
        {% if show_next %}
        <a href="{{ url_for('calendário', day=day_plus_one) }}">
            <button>Próximo</button>
        </a>
        {% endif %}
    </div>
       
    <section class="schedule-container">
        
        <table class="schedule">
            <thead  >
                <tr >
                    <th>Esporte</th>
                    <th>Evento</th>
                    <th>Competidores</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody >
                {%for item in agenda%}
                <tr>
                    <td>{{ translations.get(item['discipline_name']) }}</td>
                    <td>{{item['detailed_event_name']}}</td>    
                    <td>
                    {% if item['competitors']|length > 2%}
                        Qualificator
                    {%elif item['competitors']|length == 0%}
                        TBD
                    {% else %}
                        {% for competitor in item['competitors'] %}
                            {{ competitor['competitor_name'] }}
                        {% endfor %}
                    {% endif %}
                </td> 
                    <td>{{ item['start_date'][-8:] }}
                </tr>
                {%endfor%}
            </tbody>
            
        </table>
    </section>
    {% if show_more %}
        <a href="{{ url_for('calendário', day=day, actual=actual) }}">
            <button>Mostrar mais</button>
        </a>
    {% endif %}
    {% if (actual - 10) > 0 %}
        <a href="{{ url_for('calendário', day=day, actual=(actual-10)) }}">
            <button>Mostrar menos</button>
        </a>
    {% endif %}
   <br>
    {% if show_previous %}
        <a href="{{ url_for('calendário', day=day_minus_one) }}">
            <button>Anterior</button>
        </a>
    {% endif %}
    {% if show_next %}
        <a href="{{ url_for('calendário', day=day_plus_one) }}">
            <button>Próximo</button>
        </a>
    {% endif %}
    

    <form action="{{ url_for('calendario_filtrado') }}" method="post">
        <label for="options">Escolha uma opção:</label>
        <select name="selecao_esporte" id="options">
            <option value="" disabled selected>Selecione um esporte</option>
            {% for sport in disciplines %}
                <option value="{{ sport['id'] }}">{{ sport['name'] }}</option>  
            {% endfor %}
        </select>
        <button type="submit">Enviar</button>
    </form>
{%endblock%}