<header class="header">
    <nav class="header-nav">
        <a class="btn-header" href="{{url_for('home')}}">Medalhas</a>
        <a class="btn-header" href="{{url_for('calendário')}}">Calendário</a>
        <a class="image" href="{{url_for('home')}}">
            <img class="image" src="{{url_for('static', filename='images/olimpiada-101.png')}}" alt="Imagem olimpiadas">
        </a>
        <a class="btn-header" href="{{url_for('resultados')}}">Resultados</a>
        <a class="btn-header" href="{{url_for('historia')}}">História</a>
    </nav>
    
</header>


