{%extends "template.html"%}
{%block content%}
    
    <div class="filter">
        <form action="{{ url_for('calendario_filtrado') }}" method="post">
            <label for="options">Escolha uma opção:</label>
            <select name="selecao_esporte" id="options">
                <option value="" disabled selected>Selecione um esporte</option>
                {% for sport in disciplines %}
                    <option value="{{ sport['id'] }}">{{ sport['name'] }}</option>  
                {% endfor %}
            </select>
            <button type="submit">Enviar</button>
        </form>

        {% if show_previous %}
        <a href="{{ url_for('calendário', day=day_minus_one) }}">
            <button>Anterior</button>
        </a>
        {% endif %}
        {% if show_next %}
        <a href="{{ url_for('calendário', day=day_plus_one) }}">
            <button>Próximo</button>
        </a>
        {% endif %}
    </div>
       
    <section class="container">
        <table class="schedule">
            <thead  >
                <tr >
                    <th>#</th>
                    <th>País</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody >
                {%for item in agenda%}
                <tr>
                    <td>{{item['discipline_name']}}</td>
                    <td>{{item['detailed_event_name']}}</td>
                    <td>{{ item['start_date'] }}
                </tr>
                    
                {%endfor%}
            </tbody>
            
        </table>
    </section>
    {% if show_more %}
        <a href="{{ url_for('calendário', day=day, actual=actual) }}">
            <button>Mostrar mais</button>
        </a>
    {% endif %}
    {% if (actual - 10) > 0 %}
        <a href="{{ url_for('calendário', day=day, actual=(actual-10)) }}">
            <button>Mostrar menos</button>
        </a>
    {% endif %}
   <br>
    {% if show_previous %}
        <a href="{{ url_for('calendário', day=day_minus_one) }}">
            <button>Anterior</button>
        </a>
    {% endif %}
    {% if show_next %}
        <a href="{{ url_for('calendário', day=day_plus_one) }}">
            <button>Próximo</button>
        </a>
    {% endif %}
    

    <form action="{{ url_for('calendario_filtrado') }}" method="post">
        <label for="options">Escolha uma opção:</label>
        <select name="selecao_esporte" id="options">
            <option value="" disabled selected>Selecione um esporte</option>
            {% for sport in disciplines %}
                <option value="{{ sport['id'] }}">{{ sport['name'] }}</option>  
            {% endfor %}
        </select>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
   
    
    

    
    {%endblock%}