<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for jogo in agenda %}
        <p>{{ jogo['detailed_event_name'] }}</p>
        {% for competidor in  jogo['competitors'] %}
             {{competidor['competitor_name']}} 
        {% endfor %}
        {{ jogo['day'] }}
        <hr>
    {% endfor %}

    
    {% if show_previous %}
        <a href="{{ url_for('calendario_filtrado', day=day_minus_one, sport=sport) }}">
            <button>Anterior</button>
        </a>
    {% endif %}
    {% if show_next %}
        <a href="{{ url_for('calendario_filtrado', day=day_plus_one, sport=sport) }}">
            <button>Próximo</button>
        </a>
    {% endif %}

</body>
</html>