{%extends "template.html"%}
{%block content%}
    <section class="container">
        <table class="container-tbl">
            <thead  >
                <tr >
                    <th>#</th>
                    <th>País</th>
                    <th class="container-tbl-medals">
                        <img class="medals" src="{{url_for('static', filename='medalha-de-ouro.png')}}" alt="">
                    </th>
                    <th class="container-tbl-medals">
                        <img class="medals" src="{{url_for('static', filename='medalha-de-prata.png')}}" alt="">
                    </th>
                    <th class="container-tbl-medals">
                        <img class="medals" src="{{url_for('static', filename='medalha-de-bronze.png')}}" alt="">
                    </th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody >
                {%for item in countries%}
                <tr>
                    <td>{{item['rank']}}</td>
                    <td>{{item['nome']}}</td>
                    <td>
                        {{item['gold']}}
                    </td>
                    <td>
                        {{item['silver']}} 
                    </td>
                    <td>
                        {{item['bronze']}}
                    </td>
                    
                    <td>{{item['medalha']}}</td>
                </tr>
                    
                {%endfor%}
            </tbody>
            
        </table>
    </section>
{%endblock%}